 table, th, td {
	border: 1px solid black;
}
table  {
	margin-top: 2rem;
}
.sortButton {
	outline: none;
	border: none;
	background-color: transparent
}

span {
	font-size: 20px ;
	font-weight: bold;
}
